<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kopo.mapper.NoticeMapper">

	<!--  create  -->
		<!-- insert -->
		<insert id="makeNotice" parameterType="com.kopo.domain.Notice" >
			<!-- selectkey order : insert 쿼리를 실행하기 전,후를 설정 -->
			<selectKey keyProperty="Notice.notice_id" resultType="Integer" order="BEFORE">
				select notice_seq.nextval from dual
			</selectKey>
			insert into notice (notice_id, notice_title, notice_date, notice_content) values 
			(${Notice.notice_id}, #{Notice.notice_title}, to_date(#{Notice.notice_date}, 'YYYY-MM-DD'), 
			#{Notice.notice_content})
		</insert>
		
	<!-- read  -->
		<select id="getAllNotice" resultType="com.kopo.domain.Notice">
			select * from notice order by notice_id
		</select>
	
		<select id="getOneById" parameterType="Integer" resultType="com.kopo.domain.Notice">
			select * from notice where notice_id = ${notice_id}
		</select>
		
	<!-- update -->
		<update id="updateNotice" parameterType="com.kopo.domain.Notice">
			update notice set notice_title = #{Notice.notice_title}, 
			notice_date = to_date(#{Notice.notice_date}, 'YYYY-MM-DD'), 
			notice_content = #{Notice.notice_content} where notice_id = ${Notice.notice_id}
		</update>
		
		<update id="updateViewCnt" parameterType="Integer">
			update notice set view_cnt = ${view_cnt} + 1 where notice_id = ${notice_id}
		</update>
	
	<!-- delete -->
	<delete id="deleteNotice" parameterType="Integer" >
		delete from notice where notice_id = ${notice_id}
	</delete> 
	
</mapper>