<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kopo.mapper.NoticeMapper">

	<!--  create  -->
		<!-- insert -->
		<insert id="makeReservation" parameterType="com.kopo.domain.Notice" >
			insert into resort values (#{Resort.customer_name}, to_date(#{Resort.resv_date}, 'YYYY-MM-DD'), ${Resort.room}, 
			#{Resort.addr}, #{Resort.telnum}, #{Resort.in_name}, #{Resort.memo}, 
			to_date(#{Resort.write_date}, 'YYYY-MM-DD'), ${Resort.processing})
		</insert>
		
	<!-- read  -->
		<select id="getAllNotice" resultType="com.kopo.domain.Notice">
			select * from notice
		</select>
	
		<select id="getOneById" parameterType="Integer" resultType="com.kopo.domain.Notice">
			select * from notice where notice_id = ${notice_id}
		</select>
	
		<select id="searchSeason" parameterType="String" resultType="com.kopo.domain.Notice">
			select * from player where lower(season) like '%${ season }%'
		</select>
		
	<!-- update -->
		<update id="updateReservation" parameterType="com.kopo.domain.Notice">
			update resort set customer_name = #{Resort.customer_name}, 
			resv_date = to_date(#{Resort.resv_date}, 'YYYY-MM-DD'), room = ${Resort.room}, addr = #{Resort.addr}, 
			telnum = #{Resort.telnum}, in_name = #{Resort.in_name}, memo = #{Resort.memo}, 
			write_date = to_date(#{Resort.write_date}, 'YYYY-MM-DD'), processing = ${Resort.processing}	
			where to_char(resv_date, 'YYYY-MM-DD') = #{Resort.resv_date2} and room = ${Resort.room2}
		</update>
	
	<!-- delete -->
	<!-- <delete id="deleteOne" parameterType="Integer" >
		delete from player where id = ${ id }
	</delete> --> 
	
</mapper>