<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kopo.mapper.ReplyMapper">

	<!--  create  -->
		<!-- 댓글 insert -->
		<insert id="makeOneReply" parameterType="com.kopo.domain.Reply" >
			<!-- selectkey order : insert 쿼리를 실행하기 전,후를 설정 -->
			<selectKey keyProperty="Reply.reply_id" resultType="Integer" order="BEFORE">
				select reply_seq.nextval from dual
			</selectKey>
			<if test="Reply.re_level == 0">
				insert into reply (root_id, reply_id, reply_person, reply_date,
				reply_content, re_level, re_cnt, re_Id) values (${Reply.root_id}, ${Reply.reply_id}, '${Reply.reply_person}', 
				to_date('${Reply.reply_date}', 'YYYY-MM-DD'), '${Reply.reply_content}', ${Reply.re_level}, ${Reply.re_cnt}, ${Reply.reply_id})
			</if>
			<if test="Reply.re_level == 1">
				insert into reply (root_id, reply_id, reply_person, reply_date,
				reply_content, re_level, re_cnt, re_Id) values (${Reply.root_id}, ${Reply.reply_id}, '${Reply.reply_person}', 
				to_date('${Reply.reply_date}', 'YYYY-MM-DD'), '${Reply.reply_content}', ${Reply.re_level}, ${Reply.re_cnt}, ${Reply.re_Id})
			</if>
		</insert>
		
	<!-- read  -->
		<select id="getReplyList" resultType="com.kopo.domain.Reply" parameterType="Integer">
			select * from reply where root_id=${root_id} order by re_id asc, re_level asc, re_cnt asc
		</select>
		
		<select id="getReCntById" resultType="Integer" parameterType="Integer">
			select max(re_cnt) from reply where root_id = ${root_id}
		</select>
	
	<!-- update -->
		<update id="updateOneReply" parameterType="com.kopo.domain.Reply">
			update reply set reply_person = ${Reply.reply_person}, reply_date = to_date(#{Reply.reply_date}, 'YYYY-MM-DD'), 
			reply_content = #{Reply.reply_content} where reply_id = ${Reply.reply_id}
		</update>
		
	<!-- delete -->
	<delete id="deleteOneReply" parameterType="Integer" >
		delete from reply where reply_id = ${reply_id}
	</delete> 
	
</mapper>